#tabelaMentores {
  width: 100%;
  border-collapse: separate; /* Separa as bordas das células */
  border-spacing: 0 5px;
  font-size: small;
}

.nome {
  border-top-left-radius: 10px;
  width: 45%;
}
.e-mail {
  width: 45%;
}
.acoes {
  border-top-right-radius: 10px;
  width: 10%;
}
th {
  background-color: #482d83;
  padding: 15px;
  color: white;
  font-weight: 100;
}
tr{
    margin-bottom: 5px;
}
td{
    padding: 15px;
    background-color: #F5F5F5;
   
}
.iconsCaneta{
    margin-right: 8px;
    background-color: white;
    border-radius: 100%;
    padding: 3px;
    color: rgb(22, 90, 218);
    border: none;
}
.iconsLixeira{
    margin-right: 8px;
    background-color: white;
    border-radius: 100%;
    padding: 3px;
    color: rgb(235, 54, 54);
    border: none;
}
/*novo mentor*/


.superiorNm{
    color: #482d83;
    border-bottom: solid 2px #BDBDBD;
}
.formMentor{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    
}
.btnNovoMentor {
    width: 300px;
    background-color: #482d83;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}
.emailDoMentor{
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    border: solid 0.5px #9e9e9e;
}
.nomeDoMentor {
    width: 90%;
    padding: 5px;
    border-radius: 10px;
    border: solid 0.5px #9e9e9e;

}

section{
        
        width: 50%;
}
label{
    font-size: small;
    color: #9e9e9e;
}